/* .conteudo {

    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    top: 100vh;
    background-color: #e9dac9;
} */

.conteudo__aulas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    min-height: 70vh;
    margin: 10vh 5vw 0;
    color: #a33b12;
    background-color: #e9dac9;
    padding-bottom: 10vh;
}

.conteudo__fotoaulas {
    border-radius: 0.5vmax;
    float: left;
    width: 10vw;
    /* top: 20%; */
    margin: 10px;
}

.aulas__h2 {
    text-align: center;
    margin: 2vh 13vw 5px;
    font-weight: bold;
    font-size: 1.5em;

}

.conteudo__aulas p {
    text-align: justify;
    /* top: 15%; */
    margin: 10px;
    font-size: 1.2em;
    word-wrap:normal; 
}
