.conteudo__depos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    min-height: 90vh;
    margin: 10vh 10vw 0;
    color: #a33b12;
    background-color: #e9dac9;
    
}

.depos__h2 {
    text-align: center;
    margin-left: 0;
    /* margin: 2vh 13vw 5px; */
    font-weight: bold;
    font-size: 1.5em;

}

.cards_depo {
    width: 100%;
    margin: 5vh 0 0 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cards_depo:hover {
    cursor: pointer;
}

/* .conteudo__depos p {
    text-align: justify;
    margin: 10px;
    font-size: 1.2em;
    word-wrap:normal; 
} */
